<h1>Editing my client</h1>

<%= render "form", my_client: @my_client %>

<br>

<div>
  <%= link_to "Show this my client", @my_client %> |
  <%= link_to "Back to my clients", my_clients_path %>
</div>
