<p style="color: green"><%= notice %></p>

<h1>My clients</h1>

<div id="my_clients">
  <% @my_clients.each do |my_client| %>
    <% if my_client.deleted_at.nil? || my_client.deleted_at.blank? %>
      <%= render my_client %>
      <p>
        <%= link_to "Show this my client", my_client %>
      </p>
      <hr>
    <% end %>
  <% end %>
</div>

<%= link_to "New my client", new_my_client_path %>
